@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


body {
    font-size: 16px/26px;
    font-family: 'Karla', sans-serif;
}


/* ========================
           HEADER
   ======================== */


.header-image {
   background-size: cover;
   background-image: url(../img/clothes.jpg); 
   background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
}

.header-image:before {
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 20%, rgba(75, 170, 230, 0.4) 40%, rgba(0, 0, 0, 0.9) 70%)
}

.header-text-container {
  position: relative;
  margin-top: 20%;
}

.header-text, 
.header-subtext,
.header-button,
.arrow  {
    color: white;
    position: absolute;
    z-index: 1;

}


.header-text {
    /*margin-top: 20%;*/
}

.header-subtext {
    position: relative;
    margin-top: 150px;
    font-size: 11px;

}

.header-text-weight {
    font-weight: 600;
}

.header-arrow {
    position: relative;
    /*margin-top: 15%;*/
}

a.arrow {
    font-size: 34px;
    font-weight: thin;
    text-decoration: none;
    position: relative;
    top: 0;
    color: white;
    transition: top ease 0.5s;
}

a.arrow:hover {
    top: 10px;
    color: white;
}



/* ========================
           BUTTONS
   ======================== */


a.head-button {
  display: inline-block;
  width: 140px;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.head-button:hover,
.head-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}


/* ========================
           LINKS
   ======================== */

a {
  /*color: white !important;*/
}


/* ========================
           NAVBAR
   ======================== */


.fixed {
    position: fixed; 
    top: 0; 
    height: 50px; 
    z-index: 1;
}

nav {
/*  position: absolute;
  bottom: 0;*/
  width: 100%;
  height: 50px;
  border-radius: 0 !important;
}

.navbar-custom {
    -webkit-box-shadow: 0px 2px 8px #999;
    -moz-box-shadow:    0px 2px 8px #999;
    box-shadow:         0px 2px 8px #999;
    z-index:999;
}

.toggleScroll {
  overflow: hidden;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
}

.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
  background-color: transparent;
  border: none;
}

/*.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}*/

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: #F8F8F8 !important;
}

.navbar-inverse {
  border: none;
  background-color: transparent;
}

.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}


/* ========================
        LOADING IMAGE
   ======================== */

img {
  /*background: url('../img/preloader.gif') no-repeat;*/
}


/* ========================
        SECOND PART
   ======================== */

.second-header {
    margin-top: 80px;
}

.second-image img {
    width: 100%;
    margin-top: 40px;
    max-width: 800px
}


/* ========================
          CAROUSEL
   ======================== */

.carousel {
    width: 100%;
    height: 100vh;
    background-color: #999999;
    margin-top: 200px;
}


/* ========================
            FOOTER 
   ======================== */

#mainFooter {
  margin-top: 40px;
  height: 250px;
}




/* ========================
            SOCIAL 
   ======================== */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
 background-color: #D3D3D3;   
}



/* ========================
         MEDIA QUERY 
   ======================== */


@media only screen and (min-width: 375px) {

  .header-arrow {
    margin-top: 65%;
  }

  .header-subtext {
    margin-top: 220px;
    font-size: 11px;
  }

  .header-text {
    font-size: 34px;
    margin-top: 90px;
  }

  .header-text-container {
    margin-top: 15%;
  }

  a.head-button {
    display: inline-block;
    width: 130px;
  }

  #footerRights {
    margin-top: 140px;
  }

}


@media only screen and (min-width: 414px) {

  .header-arrow {
    margin-top: 70%;
  }

  .header-text {
    font-size: 36px;
  }

  .header-subtext {
    font-size: 12px;
  }

  a.head-button {
    display: inline-block;
    width: 140px;
  }

  #footerRights {
    margin-top: 110px;
  }

}


@media only screen and (min-width: 768px) {

  .header-arrow {
    margin-top: 55%;
  }

  .header-text-container {
    margin-top: 35%;
  }

  .header-text {
    font-size: 41px;
  }

  .header-subtext {
    padding-top: 20px;
    font-size: 12px;
  }

  a.head-button {
    width: 160px;
  }

  .social-circle li a {
    margin-top: 5px;
  } 

  #footerRights {
    margin-top: 0;
  }

  .footerWidget {
    margin-top: 20px;
  }


}


@media only screen and (min-width: 992px) {

  .header-arrow {
    margin-top: 23%;
  }

  .header-text-container {
    margin-top: 15%;
  }

  .header-text {
    font-size: 36px;
  }

  .header-subtext {
    padding-top: 0px;
    font-size: 10px;
  }

  a.head-button {
    width: 140px;
  }

  .social-circle li a {
    width: 43px;
    height: 43px;
    font-size: 22px;
    margin-right: -6px;
    margin-left: -3px;
  }

  .social-circle li i {
    margin:0;
    line-height: 44px;
    text-align: center;
  }

}



@media only screen and (min-width: 1200px) {

  .header-arrow {
    margin-top: 18%;
  }

  .social-circle li a {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin-right: 6.1px;
    /*margin-left: -3px;*/
  }

  .social-circle li i {
    margin:0;
    line-height: 48px;
    text-align: center;
  }

}






