@import url(https://fonts.googleapis.com/css?family=Karla:400,700);


body {
    font-size: 16px/26px;
    font-family: 'Karla', sans-serif;
}


/* ========================
           HEADER
   ======================== */

.header-image {
   background-color: #000000;
   background-image: url(../img/clothes.jpg); 
   background-repeat: no-repeat;
   width: 100%;
   min-height: 701px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/clothes.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/clothes.jpg',sizingMethod='scale')";

}

.header-image:before {
    content: " ";
    width: 100%;
    min-height: 701px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 20%, rgba(75, 170, 230, 0.4) 40%, rgba(0, 0, 0, 0.9) 70%)
}

.header-text, 
.header-subtext,
.header-button,
.arrow  {
    color: white;
    position: absolute;
    z-index: 1;
}

.header-text {
    margin-top: 200px;
}

.header-subtext {
    margin-top: 330px;
    font-size: 11px;

}

.header-text-weight {
    font-weight: 600;
}

.header-arrow {
    margin-top: 620px;
}

.arrow {
    cursor: pointer;
   font-size: 34px;
}


/* ========================
           BUTTONS
   ======================== */


.head-button {
  display: inline-block;
  width: 140px;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-top: 380px;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.head-button:hover,
.head-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}


/* ========================
           NAVBAR
   ======================== */


.add-layouts-padding {
    padding-top: 137px !important;
}



/* ========================
        SECOND PART
   ======================== */

.second-header {
    margin-top: 80px;
}

.second-image img {
    width: 100%;
    margin-top: 40px;
    max-width: 800px
}


/* ========================
         FOOTER TITLE
   ======================== */

.footer-title {
    margin-top: 80px;
}

